.formacao {
  background-color: #292929;
}

.formacao-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}

.formacao-container::after {
  content: "";
  width: 53px;
  height: 39px;
  background: url("../img/Detalhe.svg");
  display: block;
  position: absolute;
  bottom: -20px;
  left: 15%;
}

.formacao .subtitulo {
  color: #0b0b0b;
}

.formacao-texto {
  color: #b8b8b8;
  font-size: 1.5rem;
  line-height: 1.33rem;
  max-width: 50ch;
  margin-bottom: 60px;
  line-height: 2rem;
}

.formacao-texto strong {
  color: #e0e0e0;
}

.formacao-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.faculdade {
  flex: 1;
  background-color: #0b0b0b;
  border-radius: 4px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}

.faculdade-tipo {
  font-size: 0.87;
  color: #a3a3a3;
  margin-bottom: 20px;
}

.faculdade-curso {
  flex: 1;
  font-size: 1.25rem;
  font-weight: bold;
  color: #f0f0f0;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.faculdade-curso::before {
  content: "";
  width: 5px;
  height: 44px;
  background: linear-gradient(45deg, #f2c41f, #fad966);
  position: absolute;
  display: block;
  left: -25px;
}

.faculdade-instituicao {
  font-size: 0.87;
  color: #a3a3a3;
}

.formacao-extra {
  margin-top: 60px;
}
.formacao-extra h3 {
  color: #a3a3a3;
  font-size: 1rem;
  margin-bottom: 20px;
  position: relative;
}

.formacao-extra h3::before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  left: -40px;
  top: -4px;
}

.cursos h3::before {
  background: url("../img/leitura.svg") no-repeat center;
}

.idiomas h3::before {
  background: url("../img/idiomas.svg") no-repeat center;
}

.formacao li {
  margin-bottom: 10px;
  color: #f0f0f0;
  font-size: 1.25rem;
  font-weight: 500;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

.formacao span {
  color: #a3a3a3;
  font-size: 1rem;
  font-weight: bold;
}

.cursos,
.idiomas {
  margin-bottom: 40px;
}

footer {
  background-color: #141414;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 60px 20px;
}

.footer-container p {
  color: #b8b8b8;
  font-size: 1.5rem;
  max-width: 45ch;
}

.footer-container ul {
  display: flex;
  flex-direction: column;
}

.footer-container li {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: end;
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: start;
  }
  .formacao-texto {
    font-size: 1.25rem;
    text-align: start;
    max-width: 55ch;
  }
  .formacao-extra h3::before {
    left: 0;
    top: -30px;
  }
  .formacao-extra h3 {
    margin-top: 80px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
  }
  .footer-container ul {
    margin-top: 2%;
  }
  .footer-container li {
    text-align: start;
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  .subtitulo {
    font-size: 2.5rem;
  }
  .formacao-container {
    justify-items: center;
  }
  .formacao-texto {
    font-size: 1.1rem;
    text-align: center;
  }
  .footer-container li {
    font-size: 1rem;
  }
  .footer-container p {
    font-size: 1.25rem;
  }
}
